[Unit]
Description=Mount /opt

[Mount]
What={{ nfs_opt_server }}:/opt
Where=/opt
Options=nofail,soft
Type=nfs
TimeoutSec=30
ForceUnmount=yes
ReadWriteOnly=yes

[Install]
WantedBy=multi-user.target